* {
  margin: auto;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.container-image {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 155px;
  position: relative;
  padding: 10px 0 10px 0px;
}

img {
  width: 100%;
}
.menu {
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main {
  background-color: #3cdbc0;
  position: relative;
  top: 188px;
  height: auto;
  display: flex;
  flex-direction: column;
}
